@charset "UTF-8";

/* 전체 div 스타일 */
.total {
	width: 1000px;
	margin-top: 10px;
}
.menu {
	width: 30%;
	height: 1000px;
	float: left;
	border-right: 1px solid lightgray;
}
.content {
	width: 65%;
	float: left;
	margin-left: 5%;
}
.btn-green{
	width: 200px;
	height: 45px;
	border: 1.5px solid;
	border-radius: 5px;
	border-color: #2C952C;
	outline-color: #2C952C;
	background: #2C952C;
	color: white;
	width: 240px;
}
.btn-outline-green{
	width: 200px;
	height: 45px;
	border: 1.5px solid;
	border-radius: 5px;
	border-color: #2C952C;
	outline-color: #2C952C;
	background: white;
}
.btn-outline-green:hover{
	background: #2C952C;
	color: white;
}
/* 아이콘 스타일 */
i {
	margin-right: 10px;
}
/* input, select의 class="no-line" 스타일 */
.form-control.no-line {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.custom-select.no-line{
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
/* 메뉴 탭 (class="tab-ul") 스타일 */
ul.tab-ul li {
	margin-top: 50px;
	margin-right: 20px;
	padding: 10px;
	font-size: 20px;
	color: black;
	list-style: none;
}
ul.tab-ul li a {
	color: black;
}
ul.tab-ul li.active {
	background: #2C952C;
	border-radius: 5px;
	color: white;
}
.tab-content {
	display: none;
}
/* 수입/지출 선택 탭 (class="tab-ul2") 스타일 */
ul.tab-ul2 li {
	margin-right: 20px;
	padding: 10px;
	color: black;
	list-style: none;
	border: 1.5px solid;
	border-radius: 5px;
	border-color: #2C952C;
	outline-color: #2C952C;
	background: white;
}
ul.tab-ul2 li a {
	color: black;
}
ul.tab-ul2 li.active2 {
	background: #2C952C;
	color: white;
}
.tab-content2 {
	display: none;
}
