<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountMapper">
	<insert id="create" parameterType="accountVO">
		insert into accountbook2 values (#{id}, #{paydate}, #{payselect}, #{category}, #{amount}, #{memo})
	</insert>
	<select id="all" resultType="accountVO">
		select * from accountbook2
	</select>
	<select id="all_income" resultType="accountVO">
		select * from accountbook2 where payselect='수입'
	</select>
	<select id="all_expense" resultType="accountVO">
		select * from accountbook2 where payselect='지출'
	</select>
	<update id="up" parameterType="accountVO">
		update accountbook2 set paydate = #{paydate}, category = #{category}, amount = #{amount}, memo = #{memo} where id = #{id}
	</update>
	<delete id="del" parameterType="accountVO">
		delete from accountbook2 where id = #{id}
	</delete>
</mapper>